<!-- Modal Adicionar Garantia -->
<div
  class="modal fade"
  tabindex="-1"
  [class.show]="open"
  [style.display]="open ? 'block' : 'none'"
  aria-modal="true"
  role="dialog">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Adicionar garantia</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="onClose()"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form" class="row g-3">
          <div class="col-md-6">
            <label class="form-label" for="type">Tipo de garantia</label>
            <select id="type" class="form-select" formControlName="type">
              <option [ngValue]="null">Selecione...</option>
              <option *ngFor="let t of collateralTypes" [ngValue]="t.value">
                {{ t.label }}
              </option>
            </select>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="tickerOrName">Ticker / Nome</label>
            <input
              id="tickerOrName"
              class="form-control"
              formControlName="tickerOrName"
              placeholder="Ex.: CVCB3" />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="guarantor">Garantidor</label>
            <input id="guarantor" class="form-control" formControlName="guarantor" />
          </div>
          <div class="col-md-6">
            <label class="form-label" for="account">Conta</label>
            <input id="account" class="form-control" formControlName="account" />
          </div>
          <div class="col-12">
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="swLinked"
                formControlName="linked" />
              <label class="form-check-label" for="swLinked">Vinculado</label>
            </div>
          </div>
          <div class="col-md-4">
            <label class="form-label" for="unitPrice">PU</label>
            <input id="unitPrice" class="form-control" formControlName="unitPrice" type="number" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="allocatedQuantity">Qtd alocada</label>
            <input
              id="allocatedQuantity"
              class="form-control"
              formControlName="allocatedQuantity"
              type="number" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="value">Valor</label>
            <input id="value" class="form-control" formControlName="value" type="number" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="lendingValue">Lending Value</label>
            <input
              id="lendingValue"
              class="form-control"
              formControlName="lendingValue"
              type="number" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="issuer">Emissor</label>
            <input id="issuer" class="form-control" formControlName="issuer" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="isinCode">Cod ISIN</label>
            <input id="isinCode" class="form-control" formControlName="isinCode" />
          </div>
          <div class="col-md-4">
            <label class="form-label" for="assetCode">Cod ativo</label>
            <input id="assetCode" class="form-control" formControlName="assetCode" />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="onClose()">
          Cancelar
        </button>
        <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="onSave()">
          Adicionar
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" [class.show]="open" *ngIf="open"></div>
